*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

@font-face {
  font-family: 'Josefin Sans', 'Noto Serif', 'Dancing Script';
  src: url("https://fonts.googleapis.com/css?family=Dancing+Script|Josefin+Sans|Noto+Serif");
}

body {
max-width: 1280px;
  margin: 0;
  font-family: 'Josefin Sans', 'Noto Serif', 'Dancing Script';
}


.site-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;

}

header{
  align-content: center;
  width: 100%;
  margin: 0 auto;
}
.header-wrapper{
  display: flex;
  flex-direction: column;
justify-content: flex-start;
}

nav {
  display: flex;
  width: 100%;
  background-color: #2E2D2B;
  min-height: 50px;
margin: auto;
  list-style: none;
z-index: 3;
nav 1 2;
}

nav a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin: auto;
  text-align: center;
  flex: 1 1 100%;

}


.header-image-wrapper{
  width: 100%;
  background-image: url(/Users/saramyers/Code/iBeer-project/img/header-img.jpg);
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-origin: border-box;
  text-align: center;
z-index: -1;

}


.main-heading {
  z-index: 1;
  margin-top: 150px;
  font-size: 5em;
}

.sub-heading {

  z-index: 2;
  font-size: 3em;
  font-family: 'Dancing Script';
  color: white;
  text-shadow: 2px 2px black;
  margin: -30px;
}

main {
  justify-content: center;
  background-color: #FDF9EE;
  width: 80%;
  margin-top: -80px;
  line-height: 1.5;
  box-shadow: 2px 5px 10px;
  align-self: center;
}

.main-wrapper{
    display: flex;
    justify-content: space-between;;
align-content: flex-start;
flex-wrap: nowrap;
margin: auto;
}


.blog-row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  padding: 10px;
margin: auto;
  flex: 2 1;
}

.item {
  background-color: white;
  box-shadow: 2px;
  margin-bottom: 30px;
  box-shadow: 2px 10px 5px  #888888;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.meta {
  order: 1;
  box-shadow: 1px 5px 10px  #888888;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  padding: 10px;
}

.icon-wrapper {
  display: inline-flex;
  background-color: #EEEAE0;
  z-index: 4;
  border-radius: 50%;
  text-align: center;
  align-self: center;
  margin-top: -10px;
  padding-top: 5px;
  justify-content: center;
  order: 2;
  color: white;
  height: 30px;
  width: 30px;


}


.entry-title {
  order: 3;
  margin-bottom: 10px;
}

.wrapper {
  order: 4;
}

.blog-img {
  margin-left: 50px;
  float: right;
  width: 250px;
  height: 250px;
  

}

#xx {
  float: right;
}



.primary-txt {
  order: 4;
}



aside img{
  height: 25%;
  border-radius: 50%;
  margin-left: 10px;
}

aside{
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 10px;



  }

  aside-wrapper{
    height: 50%;
    margin: 10px;
    padding: 10px;
    background color: #EEEAE0;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #EEEAE0;
    box-shadow: 1px 5px 10px  #888888;
    align-content: center;
    background-size: contain;
  }

.column-heading {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 20px;
  margin: 20px auto;
  padding: 20px;;
}

footer {
  background-color: #333333;
  color: white;
  text-align: center;
  height: 50px;
  text-transform: uppercase;
  padding: 20px;
}
